<div class="group_data">
  {{ block.settings.heading }}
   {% content_for 'blocks' %}
</div>

{% schema %}
  {
    "name": "Group Data",
    "settings": [
      {
        "type": "text",
        "id":"heading",
        "label":"heading"
      }
    ],
    "blocks": [
      {
        "type": "@theme"
      }
    ],
    "presets": [
      {
        "name":"Group Data"
      }
    ]
  }
{% endschema %}