<div class="block_title">{{ block.settings.title }}</div>
<img src="{{ block.settings.image | img_url:'20x' }}">
{% schema %}
  {
    "name": "Title",
    "settings": [
      {
        "type": "text",
        "id":"title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id":"image",
        "label":"Image"
      }
    ],
    "presets": [
      {
        "name":"Title"
      }
    ]
  }
{% endschema %}